/* --------------------------------------
=========================================
COLOR : BLUE 

MAIN COLOR CODE: #008ed6

DEEP COLOR CODE: #005885
=========================================
----------------------------------------- */

.color-overlay {
background: url('../images/bg.jpg');
}

.standard-button {
    background: none;
}

.standard-button2 {
    background: #fff;
    color:#0378ae;
    border:1px solid #0378ae;
}

.standard-button2:hover {
    background: #323232;
    border:1px solid #0378ae;
}

.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary {
    background: #0378ae;
    border-color: inherit;
}

.colored-line,
.colored-line-left {
    background: #0378ae;
}

.main-color {
    color: #000000;
}

.features .feature:hover .icon-container .icon {
    background: #0378ae;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.features .feature .icon-container .icon {
    border: 1px solid #0378ae;
    color: #0378ae;
}

.feature-list li i {
    color: #0378ae;
}

.services .single-service .service-icon,
.services .single-service h3 {
    color: #0378ae;
}

.screenshots .owl-theme .owl-controls .owl-page span {
    background: #0378ae;
}

footer .contact-button {
    border: 2px solid #0378ae;
    color: #0378ae;
}

footer .contact-button:hover {
    background: #0378ae;
}

footer .contact-box .expanded-contact-form .input-box:active,
footer .contact-box .expanded-contact-form .textarea-box:active,
footer .contact-box .expanded-contact-form .input-box:focus,
footer .contact-box .expanded-contact-form .textarea-box:focus {
    border: 1px solid #0378ae;
}

footer .social-icons li a:hover {
    color: #0378ae;
}