<div class="header navbar-fixed-top">
  <div class="header-container">
      <div class="header-logo col-xs-4"><a ng-href="#/"><img src="images/logo.png"></a></div>
      <div class="header-menu col-xs-8">
          <div class="navbar">
            <div class="navbar-header">
              <button data-target=".navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div role="navigation" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
              <ul class="nav navbar-nav">
                    <li><a ng-href="#/#tour">TOUR</a></li>
                    <li><a ng-href="#/">CUSTOMERS</a></li>
                    <li><a ng-href="#/blog">BLOG</a></li>
                    <li><a ng-href="#/#pricing">PRICING</a></li>
                    <li><a ng-href="http://conojoapp.scmreview.com">LOGIN</a></li>
                    <li><a ng-href="http://conojoapp.scmreview.com/#/register" class="signup-free">SIGN UP FREE</a></li>
              </ul>
            </div>
        </div>
      </div>
  </div>
</div>