<div ng-include="'views/header.html'"></div>
<div class="main-video">
    <img src="images/video-play-cropped.png" class="img-responsive main-video-play">
    <img src="images/video-play-cropped-s.png" class="img-responsive main-video-play-s">
    <div class="main-opacity-one"></div>
    <div class="main-opacity-two"></div>
    <div class="main-content">
        <div class="main-title col-xs-12">How Do You Conojo?</div>
        <div class="main-subtitle col-xs-12">A Creative Collaboration & Prototyping Platform</div>
        <div class="main-play col-xs-12"><img src="images/play-icon.png" ng-click="openVideoPlay()"></div>
        <div class="main-down col-xs-12"><a href="javascript:scroll(0,document.getElementsByTagName('body')[0].scrollHeight)"><img src="images/down-arrow.png"></a></div>
    </div>
</div>
<div class="features" id="features">
    <div class="features-title col-xs-12">FEATURES AT A GLANCE</div>
    <div class="features-subtitle col-xs-12">
        <p>Conojo is a creative collaboration platform that quickly connects teams.</p>
    </div>
    <div class="features-content col-xs-12">
        <div class="col-sm-offset-2 col-sm-2 col-xs-6">
            <img src="images/freehand-icon.png" class="img-responsive">
            <p>DRAWING TOOLS</p>
        </div>
        <div class="col-sm-2 col-xs-6">
            <img src="images/collaborate-icon.png" class="img-responsive">
            <p>TEAM COLLABORATION</p>
        </div>
        <div class="col-sm-2 col-xs-6">
            <img src="images/record-icon.png" class="img-responsive">
            <p>LIVE RECORDING</p>
        </div>
        <div class="col-sm-2 col-xs-6">
            <img src="images/share-icon.png" class="img-responsive">
            <p>EASY SHARING</p>
        </div>
    </div>
</div>
<div class="featurezero">
    <div class="featurezero-content">
        <div class="col-lg-6 col-sm-6 col-xs-12 featurezero-content-left">
            <img src="images/top-screen.png" ng-show="showTop" class="top-screen" ng-mouseover="showTopScreenActive()">
            <img src="images/top-screen-active.png" ng-hide="showTop" class="top-screen-active">
            <img src="images/video.png" ng-show="showVideo" class="video-screen" ng-mouseover="showVideoScreenActive()">
            <img src="images/feature-video-play.png" ng-hide="showVideo" class="features-play-icon" ng-click="openVideoPlay()">
            <img src="images/video-active.png" ng-hide="showVideo" class="video-screen-active">
            <img src="images/bottom-screen.png" ng-show="showBottom" class="bottom-screen" ng-mouseover="showBottomScreenActive()">
            <img src="images/bottom-screen-active.png" ng-hide="showBottom" class="bottom-screen-active">
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 featurezero-content-right">
            <p class="featurezero-title">Supports multiple Types of projects</p>
            <p class="featurezero-subtitle">Create UI/UX projects, Video projects and Template Projects.  Choose from our template library or upload your own file.</p>
            <div class="startLink"><a ng-href="#/#pricing">GET STRATED</a></div>
        </div>
    </div>
</div>
<div class="featureone">
    <div class="featureone-content">
        <div class="col-xs-12 col-sm-7 featureone-content-left">
            <p class="featureone-title">COLLABORATE, RECORD, & SHARE IN REAL-TIME</p>
            <p class="featureone-subtitle">Share notes, images, videos, and any other visual you can think of. Conojo is easy to use and makes anyone an artist or data wizard.</p>
            <div class="startLink"><a ng-href="#/#pricing">GET STRATED</a></div>
        </div>
        <div class="col-xs-12 col-sm-5 featureone-content-right">
            <img src="images/phone-icon.png">
        </div>
    </div>
</div>
<div class="featuretwo">
    <div class="featuretwo-content">
        <div class="col-lg-6 col-sm-6 col-xs-12 featuretwo-content-left">
            <img src="images/mac-icon.png" class="img-responsive">
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 featuretwo-content-right">
            <p class="featuretwo-title">ADVANCED VISUAL TOOLS</p>
            <p class="featuretwo-subtitle">All-in-one whiteboard where you can utilize drawing tools, templates, and data mapping to quickly convey your ideas.</p>
            <div><img src="images/feature-two-icons.png" class="img-responsive"></div>
            <div class="startLink"><a ng-href="#/#pricing">GET STRATED</a></div>
        </div>
    </div>
</div>
<div class="featurethree">
    <div class="featurethree-content">
        <div class="col-sm-6 col-xs-12 featurethree-content-left">
            <p class="featurethree-title">VERSATILE PROJECTS</p>
            <p class="featurethree-subtitle">Designed for everyone from creatives, engineers, & health professionals to students, teachers, & parents.</p>
            <div class="startLink"><a ng-href="#/#pricing">GET STRATED</a></div>
        </div>
        <div class="col-sm-6 col-xs-12 featurethree-content-right">
            <img  src="images/ipad-icon.png" class="img-responsive">
        </div>
    </div>
</div>
<div class="featurefour">
    <div class="featurefour-content">
        <div class="col-lg-6 col-sm-7 col-xs-12 featurefour-content-left">
            <img  class="img-responsive" src="images/for-business.png">
        </div>
        <div class="col-lg-4 col-sm-5 col-xs-12 featurefour-content-right">
            <p class="featurefour-title">AGILE & EFFECTIVE TEAMS</p>
            <p class="featurefour-subtitle">Stay on track with your team. Collaborate and communicate on projects with co-workers and clients. Get started quickly with pre-built templates.</p>
            <div class="startLink"><a ng-href="#/#pricing">GET STRATED</a></div>
        </div>
    </div>
</div>
<div class="featurefive" id="featureFive">
    <div class="featurefive-content col-xs-12">
        <p class="featurefive-title">OUR PRODUCT</p>
        <p class="featurefive-subtitle">Use Conojo your way - on the web, iOS, or Android.</p>
        <img src="images/appstore-icon.png" class="download-link">
        <img src="images/googleplay-icon.png" class="download-link">
        <div class="col-xs-12 featurefive-img">
            <img src="images/device-group.png" class="img-responsive">
        </div>
    </div>
</div>
<div class="pricing" id="pricing">
    <div class="pricing-content col-xs-12">
        <p class="pricing-title">HOW MUCH DOES CONOJO COST?</p>
        <p class="pricing-subtitle">Conojo offers flexible payment plans to fit your team's needs.</p>
        <div class="pricing-items">
            <div class="col-xs-12 col-sm-4 pricing-item">
                <div class="pricing-item-top">
                    <p class="pricing-item-topTitle">STARTER</p>
                    <p class="pricing-item-subTitle">$15/Month</p>
                </div>
                <div class="pricing-item-bottom">
                    <p><span>3</span> Projects</p>
                    <p><span>$10</span> per team member</p>
                </div>
                <button ng-click="goToSignup()">GET STARTED</button>
            </div>
            <div class="col-xs-12 col-sm-4 pricing-item-selected">
                <div class="pricing-item-top">
                    <p class="pricing-item-topTitle">BUSINESS</p>
                    <p class="pricing-item-subTitle">$25/Month</p>
                </div>
                <div class="pricing-item-bottom">
                    <p><span>10</span> Projects</p>
                    <p><span>$10</span> per team member</p>
                </div>
                <button ng-click="goToSignup()">GET STARTED</button>
            </div>
            <div class="col-xs-12 col-sm-4 pricing-item">
                <div class="pricing-item-top">
                    <p class="pricing-item-topTitle">TEAM</p>
                    <p class="pricing-item-topSubTitle">$100/Month</p>
                </div>
                <div class="pricing-item-bottom">
                    <p><span>Unlimited</span> Projects</p>
                    <p>Up to <span>5 Team Members</span></p>
                    <p><span>$10</span> for each additional team member</p>
                </div>
                <button ng-click="goToSignup()">GET STARTED</button>
            </div>
        </div>
    </div>
</div>
<div class="signupfree">
    <div class="col-xs-12 signupfree-left">Sign up FREE with 1 active project as long as you need it!<button class="signup-button" ng-click="goToSignup()">SIGN UP FREE</button></div>
</div>
<div ng-include="'views/footer.html'"></div>
<div id="showVideo" class="modal fade in" style="display: none;">
    <div class="close-video" ng-click="closeVideoPlay()"><img src="images/close-icon-s.png"></div>
</div>