$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$font-titillium: 'Titillium Web', sans-serif;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body{
    text-align:center;
    font-family: $font-titillium;
}

.container{
    width:100%;
    padding:0px;
}

.learn-more{
    width:210px;
    height:56px;
    font-size:16px;
    border:2px solid #fff;
    padding:15px;
    background:none;
    font-family:$font-titillium;
}

.getStarted {
  width: 210px;
  height: 56px;
  font-size: 16px;
  border: 2px solid #fff;
  padding: 15px;
  background: none;
  text-align: center;
  font-family: $font-titillium;
  a{
    text-decoration: none;
  }
}

.header{
    height:103px;
    padding:25px 0px;
    background:#fff;
    border-bottom:2px solid #e1e1e1;
    .header-container{
        height:51px;
        font-family:$font-titillium;
        .header-logo{
            padding:0px;
        }
        .header-menu{
            padding:0px;
            .navbar{
                height:51px;
                margin:0px;
                li{
                    padding:0px 5px;
                    color:#323232;
                    font-size:16px;
                    background:#fff;
                    .signup-free{
                        border:2px solid #1193ca;
                        border-radius:1px;
                        color:#0378ae;
                    }
                }
                .navbar-toggle{
                    border-color:#ddd;
                    .icon-bar{
                        background-color:#888;
                    }
                }
            }
        }
    }
}

.footer{
    @media screen and (min-width:768px){
        .footer-top{
            a{
                color:#333333;
                &:hover,&:focus{
                    color:#333333;
                    text-decoration:none;
                }
            }
            height:112px;
            .footer-top-left{
                font-family:$font-titillium;
                font-weight: 600;
                font-size:33px;
                padding:30px 0px;
            }
            .footer-top-right{
                font-family:$font-titillium;
                font-size:16px;
                padding:45px 0px;
            }
        }
    }
    @media screen and (max-width:767px){
        .footer-top{
            height:224px;
            a{
                color:#333333;
                &:hover,&:focus{
                    color:#333333;
                    text-decoration:none;
                }
            }
            .footer-top-left{
                font-family:$font-titillium;
                font-weight: 600;
                font-size:30px;
                padding:30px 0px;
            }
            .footer-top-right{
                font-family:$font-titillium;
                font-size:16px;
                padding:45px 0px;
            }
        }
    }

    .footer-middle{
        height:112px;
        background:#383838;
        padding:34px 0px;
        .footer-middle-left{
            font-size:18px;
            color:#fff;
        }
    }

    .footer-bottom{
        height:434px;
        background:#323232;
        color:#fff;
        font-size:18px;
        a{
            color:#fff;
            &:hover,&:focus{
                color:#fff;
                text-decoration:none;
            }
        }
        .footer-bottom-top{
            padding:25px 0px;
        }
        .footer-bottom-bottom{
            img{padding:5px 10px;}
        }
     }
}

.main-video{
    background:#3898cb;
    margin-top:103px;
    padding:58px 0px;
    position:relative;
    color:#fff;
    .main-video-play{margin:0 auto;}
    .main-video-play-s{display:none;}
    .main-opacity-one{
        position:absolute;
        top:0px;
        width:100%;
        height:691px;
        background:#9dcee7;
        opacity:0.5;
        z-index:2;
    }
    .main-opacity-two{
        position:absolute;
        top:0px;
        width:100%;
        height:691px;
        background:#009ad2;
        opacity:0.5;
        z-index:3;
    }
    .main-content{
        position:absolute;
        top:0px;
        padding:200px 0px 100px;
        width:100%;
        z-index:4;
        .main-title{
            font-size:42px;
        }
        .main-subtitle{
            font-size:30px;
        }
        .main-play{
            margin-top:60px;
        }
        .main-down{
            margin-top:90px;
        }
    }
}
.features{
    height:450px;
    background:#f0f0f0;
    padding:105px 0px 65px;
    .features-title{
        font-size:40px;
    }
    .feature-subtitle{
        font-size:18px;
        color:#777777;
    }
    .features-content{
        margin-top:60px;
        p{margin-top:25px;}
        img{margin:0 auto;}
    }
}
.featurezero{
  background:url('/images/feature-zero-bg.png') center center/cover;
  .featurezero-content{
    height:686px;
    color:#fff;
    .featurezero-content-left{
      text-align:left;
      padding-left:0px;
      .top-screen{
        position:absolute;
        z-index:5;
        top:0px;
        left:100px;
      }
      .top-screen-active{
        position:absolute;
        z-index:6;
        top:0px;
        left:120px;
      }
      .video-screen{
        position:absolute;
        z-index:5;
        top:265px;
        left:100px;
      }
      .video-screen-active{
        position:absolute;
        z-index:6;
        top:220px;
        left:120px;
      }
      .bottom-screen{
        position:absolute;
        z-index:5;
        top:423px;
        left:100px;
      }
      .bottom-screen-active{
        position:absolute;
        z-index:6;
        top:420px;
        left:120px;
      }
      .features-play-icon{
        position: absolute;
        left:271px;
        top:317px;
        z-index: 10;
      }
    }
    .featurezero-content-right{
      text-align:left;
      padding:42px 0px 138px;
      .featurezero-title{
        font-size:40px;
        margin-top:90px;
      }
      .featurezero-subtitle{
        font-size:18px;
        margin-top:45px;
      }
      img{
        margin-top:45px;
      }
      .startLink{
        @extend .getStarted;
        margin-top:45px;
        a{color:#fff;}
      }
    }
  }
}
.featureone{
    background:url('/images/feature-one-bg.png') center center/cover;
    height:686px;
    color:#fff;
    padding:85px 0px;
    .featureone-content{
        width:750px;
        margin:0 auto;
        .featureone-content-left{
            text-align:left;
            .featureone-title{
                font-size:40px;
                margin-top:55px;
            }
            .featureone-subtitle{
                font-size:18px;
                margin-top:55px;
            }
            .startLink{
              @extend .getStarted;
              margin-top:70px;
              a{color:#fff;}
            }
        }
    }
}
.featuretwo{
    background:url('/images/feature-two-bg.png') center center/cover;
    .featuretwo-content{
        padding:42px 0px 138px;
        height:686px;
        .featuretwo-content-left{
            text-align:left;
            padding-left:0px;
        }
        .featuretwo-content-right{
            text-align:left;
            .featuretwo-title{
                font-size:40px;
                margin-top:90px;
            }
            .featuretwo-subtitle{
                font-size:18px;
                margin-top:45px;
                color:#777777;
            }
            img{
                margin-top:45px;
            }
            .startLink{
              @extend .getStarted;
              border:2px solid #0378ae;
              margin-top:45px;
              a{color:#0378ae;}
            }
        }
    }
}
.featurethree{
    background:url('/images/feature-three-bg.png') center center/cover;
    height:686px;
    padding-top:37px;
    .featurethree-content{
        width:920px;
        margin:0 auto;
        .featurethree-content-left{
            text-align:left;
            .featurethree-title{
                font-size:40px;
                margin-top:240px;
            }
            .featurethree-subtitle{
                font-size:18px;
                margin-top:20px;
                color:#777777;
            }
            .startLink{
              @extend .getStarted;
              border:2px solid #0378ae;
              margin-top:60px;
              a{color:#0378ae;}
            }
        }
    }
}
.featurefour{
    background:url('/images/feature-four-bg.png') center center/cover;
    .featurefour-content{
        height:686px;
        padding:90px 0px 80px;
        .featurefour-content-left{
            text-align:left;
            padding-left:0px;
        }
        .featurefour-content-right{
            text-align:left;
            .featurefour-title{
                font-size:40px;
                margin-top:50px;
            }
            .featurefour-subtitle{
                font-size:18px;
                margin-top:20px;
                color:#777777;
            }
            .startLink{
              @extend .getStarted;
              border:2px solid #0378ae;
              margin-top:100px;
              a{color:#0378ae;}
            }
        }
    }
}
.featurefive{
    background:url('/images/feature-five-bg.png') center center/cover;
    height:954px;
    padding:105px 0px 75px;
    .featurefive-content{
        .featurefive-title{
            font-size:40px;
        }
        .featurefive-subtitle{
            font-size:18px;
            margin-top:10px;
            color:#777777;
        }
        .download-link{
          margin:40px 10px 60px;
        }
        .featurefive-img{
            img{margin:0 auto;}
        }
    }
}

.pricing{
    height:768px;
    padding:100px 0px 80px;
    .pricing-content{
        .pricing-title{
            font-size:40px;
        }
        .pricing-subtitle{
            font-size:18px;
            margin-top:10px;
            color:#777777;
        }
        .pricing-items{
            margin-top:80px;
            width:948px;
            margin-left:auto;
            margin-right:auto;
            .pricing-item{
                height:415px;
                padding:0px;
                border:1px solid #777777;
                .pricing-item-top{
                    height:135px;
                    border-bottom:1px solid #777777;
                    padding:35px 0px;
                    .pricing-item-topTitle{
                        font-size:24px;
                        color:#323232;
                        font-family:$font-titillium;
                        font-weight: 600;
                    }
                    .pricing-item-topSubTitle{
                        font-size:18px;
                        color:#777777;
                        font-family:$font-titillium;
                    }
                }
                .pricing-item-bottom{
                    padding:40px 0px;
                    height:187px;
                    p{
                        font-size:18px;
                        color:#777777;
                        height:30px;
                        span{
                            color:#222222;
                            font-family:$font-titillium; 
                        }
                    }
                }
                button{
                    width:145px;
                    height:41px;
                    color:#0378ae;
                    margin-top:20px;
                    border:2px solid #a5dcf5;
                    border-radius:3px;
                    background:#cbefff;
                }
            }
            .pricing-item-selected{
                height:415px;
                padding:0px;
                border:1px solid #777777;
                background:#2087b7;
                color:#fff;
                .pricing-item-top{
                    height:135px;
                    border-bottom:1px solid #777777;
                    padding:35px 0px;
                    .pricing-item-topTitle{
                        font-size:24px;
                        font-family:$font-titillium;
                        font-weight: 600
                    }
                    .pricing-item-topSubTitle{
                        font-size:18px;
                        font-family:$font-titillium;
                    }
                }
                .pricing-item-bottom{
                    padding:40px 0px;
                    height:187px;
                    p{
                        font-size:18px;
                        height:30px;
                        span{
                            font-family:$font-titillium; 
                        }
                    }
                }
                button{
                    width:145px;
                    height:41px;
                    color:#0378ae;
                    margin-top:20px;
                    border-radius:3px;
                    border:0px;
                    background:#f2f2f2;
                }
            }
        }
    }
}
.signupfree{
    height:112px;
    background:#383838;
    padding:30px 0px;
    .signupfree-left{
        font-size:30px;
        color:#fff;
    }
    .signup-button{
        @extend .learn-more;
        width:160px;
        color:#fff;
        border:2px solid #0378ae;
        background:#0378ae;
        margin-left:50px;
    }
}

#showVideo{
  width:500px;
  height:310px;
  margin-top: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0px !important;
  .close-video{text-align: right;}
  iframe{
    width:500px;
    height:281px;
  }
}
.modal-backdrop{
    background:#0378ae;
}

.page-title-container{
    margin-top:103px;
    height:162px;
    background:url('/images/page-title-bg.png') center center/cover;
    .page-title{
        font-size:42px;
        color:#fff;
        text-align:left;
        padding:46px 0px;
    }
}

.blog-container{
    height:4200px;
    border-bottom:2px solid #f2f2f2;
    .blog-content{
        width:940px;
        margin:0 auto;
        .col-xs-12,.col-xs-9{padding:0px;}
        .blog-item{
            width:580px;
            height:812px;
            padding-top:60px;
            font-family:$font-titillium;
            border-bottom:2px solid #ececed;
            text-align:left;
            .blog-item-title{
                font-size:32px;
                color:#0378ae;
                line-height:1;
            }
            .blog-item-author{
                margin:15px 0px 25px;
                font-size:16px;
                color:#777777;
            }
            .blog-item-date{
                margin:15px 0px 25px;
                background:#ededf0;
                color:#b7b7b8;
                font-size:14px;
                height:30px;
            }
            .blog-item-content{
                margin:45px 0px 30px;
                font-size:18px;
                color:#323232;
                height:77px;
                overflow:hidden;
            }
            .blog-item-more{
                font-size:18px;
                color:#0378ae;
            }
        }
        .blog-container-right{
            margin-top:60px;
            font-family:$font-titillium;
            .blog-container-right-content{
                width:260px;
                .blog-search{
                    position:relative;
                    input{
                        height:48px;
                        width:260px;
                        padding:5px;
                        background:#ededf0;
                        border:1px solid #ededf0;
                    }
                    img{
                        position: absolute;
                        top: 15px;
                        right: 10px;
                    }
                }
                .blog-recent{
                    margin-top:50px;
                    ul{
                        margin-top:25px;
                        li{
                            list-style:none;
                            list-style-image:url('/images/recent-li-image.png');
                            text-align:left;
                            margin-bottom:20px;
                            font-size:16px;
                            color:#0378ae;
                        }
                    }
                    .blog-recent-left{
                        font-size:18px;
                        color:#323232;
                    }
                    .blog-recent-right{
                        margin-top:10px;
                        height:2px;
                        border:2px solid #ededf0;
                    }
                }
                .blog-category{
                    margin-top:50px;
                    ul{
                        margin-top:25px;
                        padding:0px;
                        li{
                            list-style:none;
                            text-align:left;
                            margin-bottom:20px;
                            font-size:16px;
                            color:#0378ae;
                            height:38px;
                            line-height:38px;
                            border-bottom:1px solid #ededf0;
                            position:relative;
                            img{
                                text-align:right;
                                position:absolute;
                                right:20px;
                                top:20px;
                            }
                        }
                    }
                    .blog-category-left{
                        font-size:18px;
                        color:#323232;
                    }
                    .blog-category-right{
                        margin-top:10px;
                        height:2px;
                        border:2px solid #ededf0;
                    }
                }
                .blog-ad{
                    margin-top:50px;
                    border-top:2px solid #ededf0;
                    .blog-ad-content{
                        margin-top:7px;
                        height:600px;
                        width:260px;
                        background:url('/images/ads-bg.png');
                        .blog-ad-logo{
                            padding-top:30px;
                        }
                        .blog-ad-intro-one{
                            padding-top:30px;
                            .blog-ad-intro-one-top{
                                font-size:18px;
                                color:#474747;
                            }
                            .blog-ad-intro-one-bottom{
                                font-size:24px;
                                color:#0378ae;
                            }
                        }
                        .blog-ad-intro-two{
                            padding-top:15px;
                            font-size:18px;
                            color:#474747;
                        }
                        .blog-ad-download{
                            padding-top:165px;
                            img{cursor:pointer;}
                        }
                    }
                }
            }
        }
    }
}

.contact-container{
    background:#ececed;
    .contact-content{
        width:714px;
        height:1440px;
        margin:0 auto;
        padding:50px 0px 100px;
        font-family:$font-titillium;
        .contact-title{
            color:#323232;
            font-size:36px;
            margin-bottom:50px;
        }
        .contact-subtitle{
            font-size:24px;
            color:#777777;
            margin-bottom:50px;
        }
        .contact-form{
            .contact-input{
                height:78px;
                padding:10px;
                margin-bottom:35px;
            }
            .contact-textarea{
                height:376px;
                padding:10px;
                margin-bottom:35px;
            }
        }
        .contact-button{
            margin-bottom:70px;
            button{
                height:90px;
                width:100%;
                color:#fff;
                font-size:24px;
                background:#0582bc;
                border:1px solid #0582bc;
                border-radius:1px;
            }
        }
        .contact-bottom{
            border-top:2px solid #fff;
            border-bottom:2px solid #fff;
            padding:40px 0px;
            height:310px;
            font-size:24px;
            .contact-bottom-title{
                font-family:$font-titillium;
            }
            .contact-bottom-app{
                margin-top:50px;
                font-family:$font-titillium;
                font-weight: 600;
            }
        }
    }
}

.about-container{
    height:1750px;
    border-bottom:2px solid #f2f2f2;
    .about-content{
        width:940px;
        margin-top:60px;
        margin-left:auto;
        margin-right:auto;
        .col-xs-12,.col-xs-9{padding:0px;}
        .about-container-left{
            font-family:$font-titillium;
            .about-item{
                width:260px;
                height:285px;
                background:#ededf0;
                padding:13px 0px 77px;
                ul{
                    padding:0px;
                    li{
                        list-style:none;
                        text-align:left;
                        font-size:16px;
                        color:#0378ae;
                        height:48px;
                        line-height:48px;
                        padding-left:15px;
                        position:relative;
                        border-bottom:1px solid #fff;
                        img{
                            position:absolute;
                            right:20px;
                            top:20px;
                        }
                    }
                }
            }
        }
        .about-container-right{
            color:#777777;
            font-size:16px;
            text-align:left;
            p{margin-bottom:25px;}
            .about-right-item-title{
                color:#0378ae;
                font-size:24px;
            }
        }
    }
}

@media screen and (min-width:992px){
    .featurethree-content-left{
        img{min-height: 500px;}
    }
    .featurethree-content-right{
        img{min-height:649px;}
    }
    .featurefour-content-left{
        img{min-height: 450px;}
    }
}@media screen and (min-width:768px) and (max-width:991px){
    .featurezero-content-left{
        .top-screen{
            left:10px !important;
          }
          .top-screen-active{
            left:20px !important;
          }
          .video-screen{
            left:10px !important;
          }
          .video-screen-active{
            left:20px !important;
          }
          .bottom-screen{
            left:10px !important;
          }
          .bottom-screen-active{
            left:20px !important;
          }
          .features-play-icon{
            left:171px !important;
          }
    }
    .featurezero-content-right{
        padding:42px 20px 138px !important;
    }
    .featuretwo-content-left{
        img{min-height: 450px;}
    }
    .featurethree-content{
        width:auto !important;
        .featurethree-content-left{
            img{min-height: 500px;}
        }
    }
    .featurethree-content-right{
        img{min-height:649px;}
    }
    .featurefour-content-left{
        img{min-height: 450px;}
    }
    .pricing-items{
        width:auto !important;
    }
    .signupfree-left{
        font-size:21px !important;
    }
    .footer-top-left{
        font-size: 26px !important;
    }
}@media screen and (min-width:320px) and (max-width:767px){
    .main-video{
        .main-video-play{display:none;}
        .main-video-play-s{
            display:block !important;
            margin:0 auto;
        }
        .main-opacity-one{height:516px !important;}
        .main-opacity-two{height:516px !important;}
        .main-content{
            padding:60px 0px !important;
            .main-title{
                font-size:30px;
            }
            .main-subtitle{
                font-size:26px;
            }
            .main-play{
                margin-top:20px;
            }
            .main-down{
                margin-top:20px;
            }
        }
        .main-video-play-s{
            min-height:400px;
        }
    }
    .features{
        padding:100px 0px 20px !important;
        .features-title{font-size:26px;}
        img{margin:0 auto;}
    }
    .featurezero{
        height:935px !important;
        .featurezero-content-left{
            height:616px !important;
            .top-screen{
                left:10px !important;
            }
            .top-screen-active{
                left:20px !important;
            }
            .video-screen{
                left:10px !important;
                top:190px !important;
            }
            .video-screen-active{
                left:20px !important;
                top:200px !important;
            }
            .bottom-screen{
                left:10px !important;
                top:400px !important;
            }
            .bottom-screen-active{
                left:20px !important;
                top:380px !important;
            }
            .features-play-icon{
              left:171px !important;
              top:297px !important;
            }
        }
        .featurezero-content-right{
            padding:45px 20px 30px !important;
            .featurezero-title{
                margin-top:30px !important;
                font-size:30px !important;
            }
            .featurezero-subtitle{
                margin-top:20px !important;
            }
            button{
                margin-top:30px !important;
            }
        }
    }
    .features-content{margin-top:10px !important;}
    .featureone{
        height:885px;
        padding:20px 0px !important;
        .featureone-content{width:auto !important;}
        .featureone-title{font-size:30px !important;margin-top:0px !important;}
        .featureone-subtitle{margin-top:20px !important;}
        .featureone-content-left{
            button{margin-top:10px !important;}
        }
        .featureone-content-right{margin-top:10px !important;}
    }
    .featuretwo-content{
        padding:42px 0px !important;
        height:730px !important;
        .featuretwo-content-left{
            img{margin-top:20px !important;max-height:320px !important;}
        }
        .featuretwo-content-right{
            .featuretwo-title{margin-top:30px !important;font-size:26px !important;}
            .featuretwo-subtitle{margin-top:20px !important;}
            button{margin-top:20px !important;}
        }
    }
    .featurethree{
        height:842px !important;
        .featurethree-content{
            width:auto !important;
            .featurethree-content-left{
                height:290px;
                .featurethree-title{margin-top:0px !important;font-size:30px !important;}
                button{margin-top:20px !important;}
            }
            .featurethree-content-right{
                margin-top:20px;
                img{height:495px;}
            }
        }
    }
    .featurefour-content{
        height:795px !important;
        padding:30px 0px !important;
        .featurefour-content-left{
            img{height:400px !important;}
        }
        .featurefour-content-right{
            .featurefour-title{font-size:30px !important;margin-top:30px !important;}
            button{margin-top:20px !important;}
        }
    }
    .featurefive{
        height:810px !important;
        .featurefive-title{font-size:30px !important;}
        .featurefive-subtitle{height:50px;}
        button{margin:10px 0px !important;}
        .download-link{margin:25px 10px !important;}
        .featurefive-img{
            img{min-height:240px;}
        }
    }
    .pricing{
        padding:100px 0px 20px !important;
        height:1185px !important;
        .pricing-content{
            .pricing-title{font-size:30px !important;}
            .pricing-items{
                margin-top:20px !important;
                width:290px !important;
                .pricing-item{
                    height:300px !important;
                    .pricing-item-top{height:80px !important;padding:10px 0px !important;}
                    .pricing-item-bottom{padding:20px 0px !important;height:140px !important;}
                    button{margin-top:0px !important;}
                }
                .pricing-item-selected{
                    height:300px !important;
                    .pricing-item-top{height:80px !important;padding:10px 0px !important;}
                    .pricing-item-bottom{padding:20px 0px !important;height:140px !important;}
                    button{margin-top:0px !important;}
                }
            }
        }
    }
    .signupfree{
        height:205px !important;
        padding:20px 0px !important;
        .signupfree-left{font-size:26px !important;}
    }
    .blog-container{
        height:4785px !important;
        .blog-content{
            width:auto !important;
            .blog-item{
                width:300px !important;
                height:620px !important;
                padding-top:30px !important;
                .blog-item-title{font-size:26px !important;}
                .blog-item-date{height:44px !important;margin:15px 0px !important;}
            }
        }
    }
    .contact-content{width:auto !important;}
    .about-container{
        height:3010px;
        .about-content{width:auto !important;}
    }
    .footer-top-left{padding:10px 0px !important;}
}