<div ng-include="'views/header.html'"></div>
<div class="page-title-container">
    <div class="col-xs-offset-2 col-xs-10 page-title"><p>Contact Us</p></div>
</div>
<div class="contact-container">
    <div class="contact-content">
        <div class="contact-title">GET IN TOUCH</div>
        <div class="contact-subtitle">We're here for you,and we're wearing our thinking caps.</div>
        <form name="gift-pack-one">
            <div class="col-xs-12 contact-form">
                <input type="text" name="projecttitle" class="form-control contact-input" placeholder="Name" />
                <input type="text" name="projecttitle" class="form-control contact-input" placeholder="Email" />
                <input type="text" name="projecttitle" class="form-control contact-textarea" placeholder="Message" />	        
            </div>
            <div class="col-xs-12 contact-button">
               <button>SEND MESSAGE !</button>
            </div>
        </form>
        <div class="contact-bottom col-xs-12">
            <div class="contact-bottom-title">Send Us Snail Mail</div>
            <div class="contact-bottom-app">CONOJO APP</div>
            <div class="contact-bottom-title">2600 PANCAKE LN.</div>
            <div class="contact-bottom-title">SILICON VALLEY,CA 90210</div>
            <div class="contact-bottom-title">1-888-555-5555</div>
        </div>
    </div>
</div>
<div ng-include="'views/footer.html'"></div>