<div class="footer">
    <div class="footer-top">
        <div class="col-xs-12 col-sm-8 footer-top-left">HOW CAN WE HELP YOU CONOJO? </div>
        <div class="col-xs-4 col-sm-1 footer-top-right"><a ng-href="#/contact">CONTACT US</a></div>
        <div class="col-xs-4 col-sm-2 footer-top-right">CUSTOMER SUPPORT</div>
        <div class="col-xs-4 col-sm-1 footer-top-right"><a ng-href="#/blog">BLOG</a></div>
    </div>
    <div class="footer-bottom">
        <div class="col-xs-12 footer-bottom-top"><img src="images/footer-logo.png"></div>
        <div class="col-xs-12 footer-bottom-middle">
            <p>Conojo is a creative collaboration platform that quickly connects teams.</p>
            <p><a ng-href="#/about">Privacy Policy | Terms of Service</a></p>
        </div>
        <div class="col-xs-12 footer-bottom-bottom">
            <img src="images/twitter-icon.png"><img src="images/fb-icon.png"><img src="images/google-icon.png">
        </div>
    </div>
    <div class="footer-middle" id="footer-middle">
        <div class="col-xs-8 footer-middle-left">2015 © Copyright VizMojoLabs, Inc.</div>
        <div class="col-xs-4 footer-middle-right"><a href="javascript:scroll(0,0)"><img src="images/back-top-icon.png"></a></div>
    </div>
</div>